<% provide(:title, I18n.t('static_pages.about.header')) %>
<h1><%= I18n.('static_pages.about.header') %></h1>

<p>
  <%= I18n.('static_pages.about.ruby_on_rails_tutorial_disclaimer') %>
</p>

<p>
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
</p>

<p>
  <%= link_to 'ðŸ“ðŸ› ï¸', 'https://github.com/rakvium/blog/blob/master/app/views/static_pages/about.html.erb' %>
</p>
