<% provide(:title, I18n.t('static_pages.contact.header')) %>
<h1><%= I18n.t('static_pages.contact.header') %></h1>

<p>
  <%= link_to I18n.t('any_issues'), 'https://github.com/rakvium/blog' %>
</p>

<p>
  <%= link_to 'ðŸ“ðŸ› ï¸', 'https://github.com/rakvium/blog/blob/master/app/views/static_pages/contact.html.erb' %>
</p>
