addons:
  postgresql: '9.4'
cache: bundler
language: ruby
rvm:
- 2.6.3
services:
  - postgresql
script:
  - bundle exec rubocop
  - bundle exec rake db:setup
  - bundle exec rspec
after_success:
  - bundle exec codeclimate-test-reporter
sudo: required
