<h1>All heil Rails!</h1>
<h2>
 <button class="btn btn-primary">
  <%= link_to "My Blog", controller: "posts" %>
 </button>
</h2>
<p>Note: This is a view. Find it at app/views/welcome/index.html.erb</p>