<div class="container welcome">
  <h1>All heil Rails!</h1>
  <div class="jumbotron">
    <h2>
      <p>
        <strong>What about some posts and comments?</strong>
      </p>
      <p>
        <%= link_to 'The Blog', posts_path, class: 'btn btn-lg btn-primary', id: 'main-link' %>
      </p>
      <p>
        Click on this amazing image!
      </p>
    </h2>
  </div>

 <p>
  Note: This is a view. Find it at app/views/welcome/index.html.erb
</p>
</div>
