<div class="container welcome">
  <h1>All heil Rails!</h1>
  <div class="hero-unit">
    <h2>
      <p>
        <strong>What about some posts and comments?</strong>
      </p>
      <p>
        <%= link_to "My Blog", posts_path, :class=>'btn btn-lg btn-primary' %>
      </p>
      <p>
        Click on this amazing button!
      </p>
    </h2>
  </div>
<img src="http://www.webweaver.nu/clipart/img/historical/pirates/ruby.png" alt="External ruby vector picture"> 
<p>
  Note: This is a view. Find it at app/views/welcome/index.html.erb
</p>
</div>