<h1><%= I18n.t('posts.edit.edit')%></h1>

<%= render 'form' %>

<%= link_to "⬅️ #{I18n.t('posts.edit.back')}", posts_path, data: { confirm: I18n.t('posts.edit.are_you_sure') }, class: 'btn btn-sm btn-warning'%>
