@import "bootstrap";

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* universal */


html {
  overflow-y: scroll;
}

body {
  padding-top: 91px;
  padding-bottom: 36px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical, horizontal;
  width: 80%;
  height: 100px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* posts */
.post {
  background-color: #f0f0f0;
  border-radius: 8px;
  text-align: center;
}

/* tables */
table th {
  text-align: left;
}

/* welcome page */
.welcome {
    text-align: center;
}

#main_link:hover {
  font-size: 5em;
}

/* comments */
.comment {
  margin-left: 25%;
  margin-right: 25%;
  word-wrap: break-word;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eee;
  color: #999;
}

footer a {
  color: #666;
}

footer a:hover {
  color: #999;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* fields with errors */

.field_with_errors label {
  padding: 2px;
  background-color: #f00;
}

.field_with_errors input[type="text"] {
  padding: 3px 2px;
  border: 2px solid #f00;
}

