<footer class="footer navbar-fixed-bottom navbar-inverse" role="navigation">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><i class="icon-ok">Font Awesome Icons Success</i></li>
      <li><%= link_to "About",   static_pages_about_path %></li>
      <li><%= link_to "Contact", static_pages_contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
      <li><%= link_to 'GraphQL API', '/graphql-docs', target: '_blank' %></li>
    </ul>
  </nav>
</footer>
