<footer class="footer navbar-fixed-bottom navbar-inverse" role="navigation">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "There are no link to About page",   static_pages_about_path %></li>
      <li><%= link_to "There are no link to Contact page", static_pages_contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>