<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Blog", '/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "There is no link to Home page",    '#' %></li>
          <li><%= link_to "There is no link to Help page",    '#' %></li>
          <li><%= link_to "Sign in page", '/users/sign_in' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>